.App {
  text-align: center;
}

.header {

  &__title {
    margin: 30px;
    font-weight: 300;
    color: white;
  }
}

.nav{
  display: flex;
  justify-content: center;
  align-content: baseline;

  &__button {
    border: none;
    background-color: white;
    border-radius: 5px;
    padding: 5px 20px;
    margin: 20px 20px;
  }

  &__page {
    color: white;
    font-size: 25px;
    margin: 20px 20px;
  }
}